
h1{
    color:rgb(15, 9, 9);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 100px 100px 100px 100px;
    word-spacing: 10px;
    text-align: center;
}
h2{
    color: aquamarine;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 50px;
}
body{
    background-color:rgb(86, 146, 199);

}
img{
    
    height: 400px;
    padding-left: 50px;
    margin-bottom: -200px;

}
a{
    
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;   
}
button{

    background-color: greenyellow;
    width: 500px;
    height: 100px;
    margin-bottom: 200px;
    margin-left: 70px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}